:root {
  --text-color: #000000;
  --background-color: #f8f9fa;
}

html {
  background: var(--background-color);
  color: var(--text-color);
  font-family: "Calibri Light", Helvetica, sans-serif;
  min-width: 260px;
}

body {
  margin: 0;
  padding: 0;
}

main {
  margin-left: 15%;
  margin-right: 15%;
}

header {
  box-sizing: border-box;
}

nav {
  width: 100%;
  height: 50px;
  background: rgba(0, 0, 0, .8);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  position: sticky;
  top: 0;
  font-size: 16px;
}

nav ul {
  display: flex;
  margin: 0;
  padding: 0 100px;
  float: right;
}

nav ul li .link {
  display: block;
  color: #FFFFFF;
  padding: 0 20px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 50px;
  text-decoration: none;
}

/* The dropdown container */

.dropdown {
  float: left;
}

/* Dropdown button */

.dropdown .dropbtn {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  border: none;
  outline: none;
  color: #FFFFFF;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  /* Important for vertical align on mobile phones */
  margin: 0;
  /* Important for vertical align on mobile phones */
}

/* Dropdown content (hidden by default) */

.dropdown-content {
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  width: 125px;
  height: 75px;
  background: rgba(0, 0, 0, .8);
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 1;
  border-radius: 5px;
}

.dropdown-content>a {
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
  display: block;
}

li {
  list-style-type: none;
}

/* Products style */

.product {
  padding: 25px 30px;
  position: relative;
  overflow: auto;
  clear: both;
  border-top: 1px solid #d8d8d8;
  padding: 25px 15px;
  min-height: 200px;
}

.product-id {
  display: flex;
  flex-direction: row;
  padding-left: 10%;
  margin: 1%;
  border: #000000 1px solid;
}

.product-cat, .product-name {
  flex: 0 0 250px;
  font-weight: bold;
  font-size: 1.2em;
  min-width: 500px;
}


.product-description {
  padding: 2em 2em;
  flex: 1 1 auto;
  box-sizing: border-box;
  border: #aaaaaa 1px solid;
  min-width: 500px;
}

.product-price, .product-button {
  flex: 0 0 200px;
  align-self: center;
  box-sizing: border-box;
  text-align: center;
}
.delete-button{
  flex: 0 1 200px;
  align-self: center;
  box-sizing: border-box;
  text-align: center;
}
.product-cat-name-description {
  overflow: hidden;
  padding-right: 30vw;
  margin-bottom: 3%;
  width: 100%;
}

.product-button, .delete-button {
  margin-top: 10px;
  padding: 12px 20px;
  background-color: #f5b027;
  border: 1px solid transparent;
  box-sizing: border-box;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  text-align: center;
  color: #fff;
  border-radius: 5px;
}

.product-button:hover, .delete-button:hover {
  outline: 0;
  text-decoration: none;
  background-color: #ffaa00;
}

.product-img>img {
  padding-right: 35px;
  width: 150px;
  height: 150px;
}

.product-price-button {
  width: 100%;
  padding: 12px 20px;
  flex: right;
}

.product-price-button > .product-price {
  text-align: right;
  font-size: 1.5em;
}

/*Form style*/

.form-update {
  max-width: 400px;
  margin: 50px auto;
  border-radius: 2px;
  padding: 20px;
}

.form-update h1 {
  display: block;
  text-align: center;
  padding: 0;
  margin: 0px 0px 20px 0px;
  font-size: x-large;
}

.form-update ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.form-update li {
  display: block;
  padding: 9px;
  border: 1px solid #DDDDDD;
  margin-bottom: 30px;
  border-radius: 3px;
}

.form-update li:last-child {
  border: none;
  margin-bottom: 0px;
  text-align: center;
}

.form-update li>label {
  display: block;
  float: left;
  margin-top: -19px;
  background: var(--background-color);
  height: 14px;
  padding: 2px 5px 2px 5px;
  font-size: 14px;
}

.form-update input[type="text"], .form-update input[type="password"], .form-update textarea, .form-update select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  display: block;
  outline: none;
  border: none;
  height: 25px;
  line-height: 25px;
  font-size: 16px;
  padding: 0;
}

.form-update li>span {
  display: block;
  padding: 3px;
  margin: 0 -9px -9px -9px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

.form-update textarea {
  resize: none;
}

.form-update input[type="submit"], .form-update input[type="button"] {
  background: #f5b027;
  border: none;
  padding: 10px 20px 10px 20px;
  border-bottom: 3px solid #f5b027;
  border-radius: 3px;
}

.form-update input[type="submit"]:hover, .form-update input[type="button"]:hover {
  background: #f5b027;
  color: #fff;
  cursor: pointer;
}

/* Categories */
.categories{
  padding : 3%;
  margin : 3%;
  border : 1px #000000 solid;
}